<% if session[:user_id].present? %>

  <% if @open_tasks.count > 0 %>
    <%= render 'form' %>
    <hr>
    <% @open_tasks.each do |t| %>
      <%= render 'open_task', task: t %>
    <% end %>
  <% else %>
    <p class="lead">Nothing here!</p>
    <p>Use the field below to create your first task:</p>
    <br>
    <%= render 'form' %>
  <% end %>

  <% if @closed_tasks.count > 0 %>
    <hr>
    <h3>Completed tasks</h3>

    <% @closed_tasks.each do |t| %>
      <%= render 'closed_task', task: t %>
    <% end %>
  <% end %>

<% else %>

  <div class="jumbotron">
    <p>Looks like you have not yet signed up for your <br><span class="brand">Happy To-Do List</span>.</p>
    <br>
    <p><%= link_to "Sign up!", signup_url, class: "btn btn-primary btn-lg" %></p>
  </div>

<% end %>



