<h1>Hello Louise!</h1>

<%= render 'form' %>

<hr>

<% @tasks.each do |task| %>
  <div class="well well-lg" style="background-color:<%= task.color %>;">
  <span class="task-text"><%= task.description %></span>

  <div class="pull-right">
    <%= link_to ('<i class="fa fa-pencil-square-o fa-2x"></i>'.html_safe), edit_task_url(task), class: "edit" %>
    <%= link_to ('<i class="fa fa-trash-o fa-2x"></i>'.html_safe), task_url(task), method: "delete", class: "trash" %></div>
  </div>
<% end %>



