<!DOCTYPE html>
<html>
<head>
  <title>To-do List</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://use.typekit.net/lrn5shm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>

  <div class="container">
    <nav>
      <% if session[:user_id].present? %>
        <%= link_to "Sign out", signout_url, class: "pull-right" %>
        <p class="pull-left">Hello, <%= link_to @user.name, edit_user_url(@user.id) %>. Happy <%= Time.new.strftime("%A") %>!</p>
      <% else %>
        <p class="greeting">Already have an account? <%= link_to "Sign in", signin_url, class: "login" %></p>
      <% end %>
    </nav>

    <h1 class="brand"><a href="/">Happy To Do List</a></h1>

    <%= render 'shared/flash_message' %>

    <%= yield %>

  </div>

  <footer>
    <%= render 'layouts/footer' %>
  </footer>

</body>
</html>
